@import "tailwindcss";

/* button{
  padding:20px 10px;
margin: 10px;
background-color: azure;
font-size: 20px;
} */

/* h2{
  background-color: gray;
  padding: 60px ;
  font-size: 30px;
  width: fit-content;
  line-height: 84px;
}
h1,h3,h4,h5,h6{
  font-size: 23px;
  line-height: 84px;
}

input{
  padding:10px;
  border: 1px solid black;
  margin:2px;
} */